@require '~@quasar/extras/material-icons/material-icons.css';
// @require '~@quasar/extras/material-icons-outlined/material-icons-outlined.css';
// @require '~@quasar/extras/material-icons-round/material-icons-round.css';
// @require '~@quasar/extras/material-icons-sharp/material-icons-sharp.css';

// @require '~@quasar/extras/iconicons-v4/iconicons-v4.css';
// @require '~@quasar/extras/fontawesome-v5/fontawesome-v5.css';
// @require '~@quasar/extras/mdi-v4/mdi-v4.css';
// @require '~@quasar/extras/eva-icons/eva-icons.css';
// @require '~@quasar/extras/themify/themify.css';

@require '~@quasar/extras/roboto-font/roboto-font.css';
